#navBar {
  display: flex;
  justify-content: center;
}

.element {
  margin: 20px 50px 20px 50px;
  color: #38315e;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 3px;
}

.element:hover {
  color: #504686;
  cursor: pointer;
}
