body,
html {
  background-color: #100e1b; // før 242038
  color: #f5effb;
  overflow: hidden;
  margin: 0px;
  letter-spacing: 0px;
  font-size: 1vw;
  position: relative;
  height: 100%;
  font-family: "Manjari", sans-serif;
}
